<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
    <input type="hidden" id="id" name="id" formControlName="id">
    <p>
        <label for="name">Full Name </label>
        <input type="text" id="name" name="name" formControlName="name">
    </p>
    <p>
        <label for="usrGrp">User Group </label>
        <input type="text" id="usrGrp" name="usrGrp" formControlName="usrGrp">
    </p>
    <p>
        <label for="phone">Phone </label>
        <input type="text" id="phone" name="phone" formControlName="phone">
    </p>
    <p>
        <button type="submit">Submit</button>
        <button type="button" (click)="clearForm()  " style="margin-left: 10px">Clear</button>
    </p>
</form>

<table class = "table table-striped">
    <thead>
        <tr>
            <th> ID</th>
            <th> Name </th>
            <th> User Group </th>
            <th> Phone </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of users" >
            <td> {{ user.id }} </td>
            <td> {{ user.name }} </td>
            <td> {{ user.usrGrp }} </td>
            <td> {{ user.phone }} </td>
            <td>
                <button (click)="updateUser(user)" class = "btn btn-info"> Update</button>
                <button (click)="deleteUser(user.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
    </tbody>
</table>